.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #1e1e1e; /* Добавляем фон */
    padding: 20px 0; /* Увеличиваем отступы сверху и снизу */
}

.search-container form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}
