.image-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.image-card {
    display: block;
    overflow: hidden;
}

.image-card img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}
